body{
    margin: 0;
    padding: 0;
    background-color: #A0E9FF;
}


  
header {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #00A9FF;
    margin-bottom: 10px;
}
  
nav ul {
    list-style: none;

}
  
nav li {
    display: inline;
    margin: 0 10px; 
}
  
nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#images {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* para las columnas que quiero*/
    gap: 10px; /* Para el espacio de las imagenes */
  }
  
  .shoes {
    text-align: center; 
    padding: 10px;
    border: 1px solid #00A9FF;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
  }
  
  .shoes img {
    max-width: 100%; 
    height: auto;
  }

  button{
    border: none;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }

  button:hover{
    background-color: #00A9FF;
  }
  



